.header {
  background-color: deepskyblue;
  padding: 15px 5px;
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .link {
      font-size: 25px;
      font-weight:bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      text-decoration: none;

      color: rgb(88, 86, 86);
    }
  }
}